<ol>
  <li><a routerLink="InsertEmployee">Insert Employee</a></li>
  <li><a routerLink="ShowAllEmployees">Show All Employees</a></li>
  <li><a routerLink="ShowEmployeeByID">Show Employee By ID</a></li>
  <li><a routerLink="Login">Login</a></li>
  <li><a routerLink="Delete">Delete</a></li>
  <li><a routerLink="UpdateEmployee">Update Employee</a></li>
  <hr>
  <li><a routerLink="SelectProjByID">Select Project By ID (stored procedure call)</a></li>
  <!--<li><a routerLink="UpdateProject">Update Project (stored Procedure call)</a></li>-->
  <!--UPDATE IS BEING REDIRECTED BY SELECT PROJECT BY ID SO ITS NOT LISTED HERE-->
</ol>
<router-outlet></router-outlet>
